{% extends 'base.html' %}
{% block body %}
    <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p> 團隊主要成員，包括國內重要的地震、海嘯、山崩土石流 、堰塞湖、土壤液化、極端天氣系統以及風險評估專任教授約10人，碩、博士級研究人員5名。短期發展策略將先以地震以及地震造成之衍生災害或災害鏈風險評估為主，中、長程規劃研究課題擬再進一步包括環境誘發地震及餘震危害及風險分析、極端氣候對山崩、土石流災害風險之影響、氣象及海洋災害等議題。 本中心以地球系統災害科學為思維，對地震及震後衍生災害鏈相關之成果，以四維數位時空災害風險評估，並與產業鏈結研發災害風險評估及管理對策。整合與產業的密切連結，持續與防災產業界互動，瞭解產業需求，並進而精進地震科學的研發及其應用。目前已與產業界開始進行地震危害及風險評估合作案，後續將陸續拓展產業界影響力。</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}