{% load static %}
<!DOCTYPE html>
<html lang="en">
{% for Content in contact_content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="{% static 'assets/cyedream_logo.ico' %}">
    <link rel="stylesheet" href="{% static 'css/Contact.css' %}">
    <title>CYE-DREaM</title>
</head>

<body>
    <!-- 搜尋列(navbar) -->
    <nav class="navbar navbar-expand-lg navbar-light" style='background-color: #e3f2fd;'>
        <div class="container-xxl">
            <a class="navbar-brand" href="..">
                <img src="../static/assets/{{ Content.logo }}" alt="" height="30"
                    class="d-inline-block align-text-top">
                    {{Content.name}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="..">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../MapPage">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Service">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../AboutUs">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Contact</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <a class="nav-link" href="en">English</a>
                </span>
            </div>
        </div>
    </nav>

    <!-- 圖片大標(jumbotron) -->
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container mt-5">
            <br>
            <br>
            <div class="row">
                <div class="col-12 col-md-6">
                    <h1 class="display-8 fw-bold">{{Content.title}}</h1>
                    <br>
                    <br>
                    <span class="navbar-text">
                        電話：{{Content.phone}}<br>
                        Email: {{Content.email}}
                        <br>
                        <br>
                        <br>
                        地址: {{Content.address}}
                        <br>
                        服務時間: {{Content.office_hour}}
                    </span>
                </div>
                <div class="col-12 col-md-6 mt-5">
                    <div id="map" style="height:400px"></div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>


    <!-- 底板樣式 -->
    <footer class="bd-footer py-4 py-md-5 mt-5 bg-dark">
        <div class="container py-4 py-md-5 px-4 px-md-3">
            <div class="row align-items-center">
                <div class="text-center col-4 col-md-4" style="color:white">{{ Content.bottom_title }}</div>
                <div class="text-left col-8 col-md-8" id="Contact" style="color:white">
                    {{ Content.bottom_content }}<br>
                    mail: {{ Content.bottom_email }}<br>
                    call: {{ Content.phone }}
                </div>
            </div>
        </div>
    </footer>

    <!-- google api script -->
    <script src="{% static 'js/Contact.js' %}"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB318Fh6o7ni_x1MlswE4vtD1hUReq0L_s&callback=initMap&v=weekly"
        defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>
{% endfor %}
</html>