<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./map.css">
    <title>map</title>
</head>

<body>
    <div id="map"></div>
    
    <script src="map.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB318Fh6o7ni_x1MlswE4vtD1hUReq0L_s&callback=initMap&v=weekly"
        defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>

</html>