{% extends 'base.html' %}
{% block body %}
<header class="masthead" style="background-image: url('../static/assets/img/home-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="site-heading">
                  <h1>Post</h1>
                  <span class="subheading">Post Everything you want</span>
              </div>
          </div>
      </div>
  </div>
</header>
<div class="container mt-5">
  <h1>文章列表</h1>
  <div class="row">
    {% for post in Post_list %}
<div class="col-md-6">
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text text-muted">
            {{ post.content }}
          </p>
          <a href="./{{ post.id }}" class="card-link">閱讀更多</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}